.mori-gift {
  width: 100%;
}
.gift {
  width: 100%;
  padding: 0;
}
.gift .detail {
  display: inline-block;
  width: 70%;
  padding: 0.25em 0;
  vertical-align: middle;
}
.gift .detail .name {
  width: 90%;
  margin: 0 auto;
}
.gift .name {

}
.gift .alts .alt-color .icons {
  position: absolute;
  top: 0;
  right: 0;
}
.gift.gift-group .alts .alt-color .icons {
  position: absolute;
  top: 0;
  right: 1em;
}
.gift .icons img {
  width: 1.5em;
  cursor: help;
}
.gift .alt-color > img, .alt-entry img {
  width: 4.5em;
}
.gift.gift-group .alt-color .alt-entry img {
  display: block;
  margin: 0 auto;
}
.gift .alts {
  width: 30%;
  display: inline-block;
  vertical-align: middle;
  margin: 0.5em auto;
}
.gift.gift-group .name {
  color: #81725A;
  /*display: inline;*/
}
.gift.gift-group .name.hidden {
  display: none;
}
.gift.gift-group .detail .icons {
  display: inline-block;
  vertical-align: middle;
}
.gift.gift-group .alts {
  width: 100%;
  display: block;
}
.gift .alts .alt-color {
  width: 100%;
  margin: 0.25em 0 0.75em 0;
  position: relative;
}
.gift.gift-group .alts .alt-entry {
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  font-size: 0.8em;
}

.gift.gift-group .alts .alt-color .alt-entry .name {
  background-color: gold;
  border-radius: 1em;
  padding: 0.25em 0.5em;
  display: inline-block;
  width: auto;
  max-width: 6.75em;
  margin: -0.375em auto 0 auto;
  color: #444;
}

.gift .alts .alt-color .alt-entry .colors {
  
}
.gift.gift-group  .alts .judgements {
  display: inline-block;
  vertical-align: middle;
  width: 63%;
  color: #81725A;
}

.gift-selection {

}

.gift-selection .gift {
  width: 5em;
  display: inline-block;
}

.gift-selection .gift .name {
  font-size: 0.85em;
}

.gift-selection .gift .default-color {
  position: relative;
}

.gift-selection .gift .default-color .icons {
  position: absolute;
  top: 0;
  right: 0;
}

.gift-selection .gift .default-color > img {
  width: 100%;
}